html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);

    /* For the flip animation */
    transform-style: preserve-3d;
    
}

.deck .card.open {
    /* transform: rotateY(130deg); */
    background: #02b3e4;
    cursor: default;

    /* For the flip animation */
    transform-origin: bottom center;
    animation: flip .5s ease;
    transition: all .2s ease;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.close {
    animation: unflip .5s ease;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;

    /* For the flip animation */
    animation: match 1s 1;
}

.deck .card.disable {
    pointer-events: none;
}

.disable {
    pointer-events: none;
}

    /* animations */
@keyframes flip {
	0% {
		transform: rotateY(180deg);
	}
}

@keyframes unflip {
	0% {
		transform: rotateY(180deg);
	}
	100% {
		font-size: 0px;
	}
}


@keyframes match {
	0% {
        transform: rotateY(180deg);
        background-color: #02b3e4;
	}
	25% {
		transform: scale(1.1);
    }
    50% {
        transform: scale(1.0);
	}
	75% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1.0);
	}
}



/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 500px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 20px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .moves {
    margin: 0 20px 0 0;
}

.score-panel .game-length {
    margin: 0 20px 0 0;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.reset {
    animation: reset .5s ease;
}

@keyframes reset {
	0% {
	}

    50% {
        transform: scale(1.2);
        color: #02b3e4;
	}
	100% {
		transform: scale(1.0);
	}
}